@use "./variables" as v;
@use "./mixins" as m;

.footer {
  box-sizing: border-box;
  padding-bottom: 43px;
  background-color: v.$color-container;
}

.footer__wrap {
  align-items: center;
  width: 1280px;
  position: relative;
  display: flex;
  gap: 118px;
  text-decoration: underline;
  @include m.wrapper-desktop;
}

.footer__documents-link {
  font-size: 16px;
  font-family: v.$font;
  font-weight: 500;
  color: v.$color-font;
  opacity: 0.3;
}