@use "./variables" as v;
@use "./mixins" as m;

.header {
    box-sizing: border-box;
    padding-top: 28px;
}

.header__wrap {
    display: flex;
    width: 1280px;
    height: 78px;
    align-items: center;
    @include m.wrapper-desktop;
}

.header__logo {
    width: 60px;
    margin-right: 171px;
    margin-left: -3px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
    font-size: 16px;
    font-family: v.$font;
    font-weight: 400;
    letter-spacing: 0.02em;
    margin-right: 103px;
}

.header__link {
    color: v.$color-font;
}

.header__address {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.header__social {
    display: flex;
    width: 110px;
    gap: 10px;
}

.header__icon {
    width: 30px;
    height: 30px;
}

.header__tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: v.$font;
    font-weight: 500;
    gap: 4px;
}

.header__tel-link {
    color: v.$color-font;
}