/* Reset and base styles  */
* {
    margin: 0;
    padding: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
    font-size: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    background: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}


@font-face {
    font-family: "Inter";
    src:
        local("Inter"),
        url("../font/Inter-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src:
        local("Inter"),
        url("../font/Inter-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src:
        local("Inter"),
        url("../font/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src:
        local("Inter"),
        url("../font/Inter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-main: #F50E30;
    --color-basic: #FFFFFF;
    --color-font: #000000;
    --font: "Inter", Arial;
}

body {
    background-color: var(--color-basic);
    margin: 0;
}

.header {
    box-sizing: border-box;
    padding-top: 28px;
}

.header__wrap {
    display: flex;
    width: 1280px;
    height: 78px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.header__logo {
    width: 60px;
    margin-right: 170px;
}

.header-list {
    display: flex;
    font-size: 16px;
    font-family: var(--font);
    font-weight: 400;
    letter-spacing: 0.02em;
    margin-right: 102px;
}

.header-item {
    margin-right: 40px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-link {
    color: var(--color-font);
}

.header__address {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-social {
    display: flex;
    width: 110px;
    gap: 10px;
}

.icon-telegram {
    display: block;
    background-color: var(--color-basic);
    border-radius: 15px;
    background-image: url("../image/tg.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width: 30px;
    height: 30px;
}

.icon-whatsapp {
    display: block;
    background-image: url("../image/wp.svg");
    background-color: var(--color-basic);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}

.icon-youtube {
    display: block;
    background-image: url("../image/yt.svg");
    background-color: var(--color-font);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 12px;
    width: 30px;
    height: 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
    font-weight: 500;
    gap: 4px;
}

.tel-link {
    color: var(--font);
}

.hero {
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 114px;
    position: relative;
}

.hero::before {
    background-image: url("../image/autosvg.svg");
    content: "";
    width: 816px;
    height: 417px;
    position: absolute;
    right: -124px;
    bottom: -107px;
}

.hero__title {
    max-width: 672px;
    font-size: 52px;
    font-family: var(--font);
    font-weight: 900;
    line-height: 1.19;
    margin-bottom: 20px;
}

.hero__content {
    max-width: 600px;
    font-size: 20px;
    font-family: var(--font);
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 44px;
}

.big-text {
    text-transform: uppercase;
}

.hero__button {
    box-sizing: border-box;
    width: 312px;
    height: 64px;
    border-radius: 8px;
    background-color: var(--color-main);
    color: var(--color-basic);
    font-size: 24px;
    font-family: var(--font);
    font-weight: 700;
    padding: 18px 54px;
}